root = true

[*]
indent_style = tab
indent_size = 4

[*.lua]
indent_style = tab
indent_size = 4
quote_style = single
max_line_length = 120
call_arg_parentheses = keep
align_array_table = false

[{*.py, *.rs}]
indent_size = 4

[Makefile]
indent_style = tab
