root = true

[*]
indent_style = tab
indent_size = 4

[*.lua]
quote_style = single
max_line_length = 120 
call_arg_parentheses = keep
align_call_args = true

[{*.py, *.rs}]
indent_size = 4

[Makefile]
indent_style = tab
